<!-- IF .prefix_option or .prefix_used -->
<!--<div class="prefix-dropdown-container dropdown-container dropdown-right dropdown-down">-->
	<!--<a href="#" class="dropdown-trigger dropdown-toggle"><div class="prefix-dropdown-toggle prefixed_sortable" id="used_prefixes">&lt;!&ndash; IF .prefix_used &ndash;&gt;&lt;!&ndash; BEGIN prefix_used &ndash;&gt;<span id="prefix_{prefix_used.PREFIX}" data-id="{prefix_used.ID}">{prefix_used.TITLE}</span>&lt;!&ndash; END prefix_used &ndash;&gt;&lt;!&ndash; ENDIF &ndash;&gt;<span class="no-prefix-text &lt;!&ndash; IF .prefix_used &ndash;&gt;hidden&lt;!&ndash; ENDIF &ndash;&gt;">({L_NO_PREFIX})</span></div></a>-->
	<!--<div class="dropdown hidden prefix-dropdown">-->
		<!--<div class="pointer"><div class="pointer-inner"></div></div>-->
		<!--<div id="available_prefixes" class="prefixed_sortable dropdown_contents">-->
			<!--&lt;!&ndash; BEGIN prefix_option &ndash;&gt;<span id="prefix_{prefix_option.ID}" data-id="{prefix_option.ID}">{prefix_option.TITLE}</span>&lt;!&ndash; END prefix_option &ndash;&gt;-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!-- ENDIF -->
